<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load static %}

<html lang="en">
<title>
{% block title_block %}
    About Rango
{% endblock %}
</title>
{% block body_block %}
    <h1>Rango says...</h1>
    here is the about page.

    <div>
        This tutorial has been put together by Nathan.
    </div>
    <div>
        <p>Visits: {{ visits }}</p>
    </div>
    <div>
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango"/>
        {#            <img src="/static/images/rango.jpg" alt="Picture of Rango" />#}
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat.?"/>
        {#            <img src="/media/cat.jpg" alt="Picture of a Cat." />#}
    </div>
{% endblock %}
</html>